<meta http-equiv="Content-Type" content="text/html; charset=utf-8" />

{% extends 'base.html' %}
{% block head %}
<link rel="stylesheet" href="{{ url_for('static',filename='css/about.css') }}">
{% endblock %}
{% block title %}关于{% endblock %}

{% block main %}

<h2 align="center" id='💻-关于系统'><span>💻 关于系统</span></h2>
<ul>
  <li><p><span>🚦 izhihu (tiny-zhihu-web)</span></p>
    <ul>
      <li><span> &nbsp; &nbsp; &nbsp; 🚩 仓库地址：</span><a href='https://github.com/lunarwhite/tiny-zhihu-web' target='_blank' class='url'>https://github.com/lunarwhite/tiny-zhihu-web</a></li>
    </ul>
  </li>
  <li><p><span>🎄 技术栈</span></p>
    <ul>
      <li><span> &nbsp; &nbsp; &nbsp; 🎈 MobaXterm（√）</span></li>
      <li><span> &nbsp; &nbsp; &nbsp; 🎈 Ubuntu-Server（√）</span></li>
      <li><span> &nbsp; &nbsp; &nbsp; 🎈 SQL-Server（√）</span></li>
      <li><span> &nbsp; &nbsp; &nbsp; 🎈 VSCode+Git（√）</span></li>
      <li><span> &nbsp; &nbsp; &nbsp; 🎈 Python、Flask、uwsgi（√）</span></li>
      <li><span> &nbsp; &nbsp; &nbsp; 🎈 Nginx（√）</span></li>
    </ul>
  </li>
</ul>

<h2 align="center" id='👋-关于作者'><span>👋 关于作者</span></h2>
<ul>
  <li><p><span>⚡ 在这里来找我</span></p><ul>
    <li><span> &nbsp; &nbsp; &nbsp; 🥝 博客：</span><a href='https://lunarwhite.github.io'><span>lunarwhite&#39;s space</span></a><span> </span></li>
    <li><span> &nbsp; &nbsp; &nbsp; 🚀 知乎：</span><a href='https://www.zhihu.com/people/wydnlz'><span>lunarwhite</span></a></li>
    <li><span> &nbsp; &nbsp; &nbsp; 🏬 github：</span><a href='https://github.com/lunarwhite'><span>lunarwhite</span></a></li>
    <li><span> &nbsp; &nbsp; &nbsp; 🛸 web-site：lunarwhite.cn //under construction</span></li>
  </ul></li>
  <li><p><span>🌱 一些个人标签</span></p><ul>
    <li><span> &nbsp; &nbsp; &nbsp; 💻 major in </span><code>computer science</code></li>
    <li><span> &nbsp; &nbsp; &nbsp; 👨‍🎓 a sophomore at </span><code>Shandong University, Weihai</code></li>
    <li><span> &nbsp; &nbsp; &nbsp; 👩‍💻 aspire to be a </span><code>software development engineer</code></li>
    <li><span> &nbsp; &nbsp; &nbsp; ✨ currently learning </span><code>Software Engineering</code><span>, </span><code>Deep Learning</code><span>, </span><code>Principles of Computer Organization</code><span> and </span><code>High Performance Computing</code></li>
  </ul></li>
</ul>
  
{% endblock %}