<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <link rel="shortcut icon" href="{{ url_for('static',filename='images/ico.png') }}" type="image/x-icon">
    <link rel="stylesheet" href="https://cdn.bootcss.com/bootstrap/3.3.7/css/bootstrap.min.css">
    <script src="https://cdn.bootcss.com/jquery/1.12.4/jquery.min.js"></script>
    <script src="https://cdn.bootcss.com/bootstrap/3.3.7/js/bootstrap.min.js"></script>
    <link rel="stylesheet" href="{{ url_for('static',filename='css/base.css') }}">
    {% block head %}{% endblock %}
    <title>{% block title %}{% endblock %} - izhihu</title>
</head>

<body>
<nav class="navbar navbar-default">
    <div class="container">
        <div class="navbar-header">
            <img style="width:120px;height:44px" src="{{ url_for('static',filename='images/zhihu6.png') }}" alt="">
            <button type="button" class="navbar-toggle collapsed" data-toggle="collapse"
                    data-target="#bs-example-navbar-collapse-1" aria-expanded="false">
                <span class="sr-only"></span>
                <span class="icon-bar"></span>
                <span class="icon-bar"></span>
                <span class="icon-bar"></span>
            </button>
        </div>
        <!-- Collect the nav links, forms, and other content for toggling -->
        <div class="collapse navbar-collapse" id="bs-example-navbar-collapse-1">
            <ul class="nav navbar-nav">
                <li class="active"><a href="/">首页<span class="sr-only">(current)</span></a></li>
                <li><a href="{{ url_for('question') }}">发布问题</a></li>
                <li><a href="{{ url_for('about') }}">关于</a></li>
            </ul>
            <form class="navbar-form navbar-left" action="{{ url_for('search') }}">
                <div class="form-group">
                    <input name="q" type="text" class="form-control" placeholder="请输入关键字">
                </div>
                <button style="background-color:#2c7ef8;color:#FFFFFF" type="submit" class="btn btn-default">
                    <span class="glyphicon glyphicon-search" aria-hidden="true"></span> 搜索问题
                </button>
            </form>
            <ul class="nav navbar-nav navbar-right">
                {% if username %}
                <li><a style="color: #0084ff;background: rgba(0,132,255,.1);border-color: transparent;"
                       href="{{ url_for('user',id=0) }}"><span class="glyphicon glyphicon-user" aria-hidden="true"></span>  {{username}}</a></li>
                <li><a href="{{ url_for('logout') }}"><span class="glyphicon glyphicon-remove-sign" aria-hidden="true"></span> 退出</a></li>
                {% else %}
                <li><a style="color: #0084ff;background: rgba(0,132,255,.1);border-color: transparent;"
                       href="{{ url_for('login')  }}"><span class="glyphicon glyphicon-user" aria-hidden="true"></span> 登录</a></li>
                <li><a href="{{ url_for('regist') }}"><span class="glyphicon glyphicon-plus-sign" aria-hidden="true"></span> 加入知乎</a></li>
                {% endif %}
            </ul>
        </div><!-- /.navbar-collapse -->
    </div><!-- /.container-fluid -->
</nav>
<div class="main">
    {% block main %}{% endblock %}
</div>
</body>

</html>